/* font dm sans*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*basic elements*/
.button {
  background-color: #ef4815;
  border-radius: 25px;
  font-family: "DM Sans", sans-serif;
  padding: 5px 20px;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
label {
  font-family: "DM Sans", sans-serif;
}

.button:hover {
  box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  color: white;
  text-decoration: none;
}

/* navbar elements*/
.imgLogo {
  width: 100px;
  height: auto;
}

.iconSize {
  width: 50px;
  height: auto;
  padding: 0 8px;
}

nav a {
  font-family: "DM Sans", sans-serif;
}

.buttonLogin {
  border-radius: 25px;
  font-family: "DM Sans", sans-serif;
  padding: 5px 20px;
  margin-left: 20px;
}

.slider {
  width: 100%;
  height: auto;
}

/*products home html*/
.product {
  padding: 20px;
  padding-bottom: 25px;
  font-family: "DM Sans", sans-serif;
}

.product h3 {
  font-size: 18px;
  font-weight: bold;
}

.product img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.product p {
  font-size: 16px;
}

.buy-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1570ef;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.buy-button:hover {
  box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 1px -1px 14px 0px rgba(0, 0, 0, 0.59);
  color: white;
  text-decoration: none;
}

/* register */
.register {
  margin-top: 30px;
}

.register h1 {
  text-align: center;
}

.register form {
  position: relative;
  margin: 20px auto;
  width: 80%;
  max-width: 607px;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 20px;
}

.register input {
  border-radius: 5px;
  border-color: #1570ef;
  border-style: solid;
  width: 100%;
}

.returnButton {
  background-color: #6383ae !important;
  border-radius: 25px;
  font-family: "DM Sans", sans-serif;
  padding: 5px 20px;
}

/* product page*/
.Products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.policy-section {
  padding: 50px 20px;
  background-color: #f0f0f0;
}

.policy-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.policy-section p {
  font-size: 16px;
  line-height: 1.6;
}

.policy-section a {
  color: #1570ef;
  font-weight: bold;
}

.policy-section a:hover {
  text-decoration: underline;
}

.chatbot-icon {
  position: fixed;
  bottom: 30%;
  right: 20px;
  transform: translateY(-50%);
  width: 124px;
  height: 145px;
}

.underline {
  width: 829px;
  height: 4px;
  background-color: #1570ef;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px; /* Espaço abaixo da linha */
}

.no-space {
  line-height: 1;
}

.about_us_image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px; /* Adicionando margem à direita */
}

.user-greeting {
  background-color: #1570ef;
  color: white;
  padding: 8px;
  /*/display: inline-block; /* Permite que o bloco se ajuste ao tamanho do conteúdo */
  border-radius: 4px; /* Borda arredondada */
  width: 700px;
}

.user-icon {
  width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 20px;
  margin-right: 5px; /* Espaçamento entre a imagem e o texto */
}

.user-section {
  padding: 25px; /* Adiciona espaço entre a linha azul e o restante do texto */
}

.user-section-begin {
  padding: 15px;
}

.user-underline {
  width: 700px;
  height: 2px;
  background-color: #1570ef;
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px; /* Espaço abaixo da linha */
}

.space {
  padding: 10px;
}
