<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hardware Webshop About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
  </head>
  <body>
    <!-- #nav-->
    <%- include('nav') %>
    <!-- #end nav -->

    <!-- Texto de boas-vindas -->
    <!-- Conteúdo da página -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 about-content">
          <h1>Welcome to LOW KEY</h1>
          <p>
            Your premier destination for high-quality hardware solutions. At LOW
            KEY, we seamlessly merge innovation with reliability to provide you
            with a diverse range of cutting-edge products.
          </p>
          <p>
            Experience the perfect blend of reliability and innovation with LOW
            KEY. Your trusted partner for all things hardware.
          </p>
        </div>
        <div class="col-md-6">
          <!-- Sua imagem aqui -->
          <img
            src="../images/about_us_image.png"
            alt="About Us Image"
            class="about_us_image"
          />
        </div>
      </div>
    </div>
    <!-- #footer -->
    <%- include('footer') %>
    <!-- #end footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
