<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hardware Webshop Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    <!-- put script here -->
    <script src=""></script>
  </head>
  <body>
    <!-- #navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
      <a href="home.html" Link class="logo">
        <img src="../images/logo.png" alt="Logo" class="imgLogo" />
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active nav-item-custom">
            <a class="nav-link" href="home.html" id="home">Home </a>
          </li>

          <li class="nav-item active nav-item-custom">
            <a class="nav-link" href="about.html" id="about">About </a>
          </li>

          <li class="nav-item active nav-item-custom">
            <a class="nav-link" href="products.html" id="product">Products</a>
          </li>

          <li class="nav-item active nav-item-custom">
            <a class="nav-link" href="contact.html" id="contact">Contact </a>
          </li>
          <li>
            <a
              href="shoppingcard.html"
              Link
              class="shoppingButton"
              id="shoppingcard"
            >
              <img
                src="../images/shoppingcard.png"
                alt="shoppingcard icon"
                class="iconSize"
              />
            </a>
          </li>
          <li>
            <a href="profil.html" Link class="profilButton" id="profil">
              <img src="../images/user.png" alt="user icon" class="iconSize" />
            </a>
          </li>
          <li>
            <a href="login.html" Link class="LoginStatus">
              <button type="button" class="buttonLogin btn btn-primary">
                Login
              </button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- #end navbar -->
  </body>
    <!-- footer -->
  <footer>
    <div class="footer-dark">
      <footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-md-3 item">
                      <h3>THEMES</h3>
                      <ul>
                          <li><a href="products.html">Shop</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="contact.html">Contact</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-3 item">
                      <h3>HELP</h3>
                      <ul>
                          <li><a href="home.html">LowKey</a></li>
                          <li><a href="contact.html">Contact us</a></li>
                          <li><a href="policy.html">Terms and conditions</a></li>
                      </ul>
                  </div>
                  <div class="col-md-6 item text">
                      <h3>LowKey</h3>
                      <p>At LowKey, we are committed to offering the latest technological innovations to meet your digital needs. With a wide range of products, from computers and mobile devices to accessories and gadgets, we are here to boost your digital experience.</p>
                  </div>
                  <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
              </div>
              <p class="copyright">Low Key © 2018</p>
          </div>
      </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </footer>
    <!-- #end footer -->
</html>
