<!-- footer -->
<footer>
  <div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h3>THEMES</h3>
            <ul>
              <li><a href="products">Shop</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h3>HELP</h3>
            <ul>
              <li><a href="home">LowKey</a></li>
              <li><a href="contact">Contact us</a></li>
              <li><a href="policy">Terms and conditions</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h3>LowKey</h3>
            <p>
              At LowKey, we are committed to offering the latest technological
              innovations to meet your digital needs. With a wide range of
              products, from computers and mobile devices to accessories and
              gadgets, we are here to boost your digital experience.
            </p>
          </div>
          <div class="col item social">
            <a href="#"><i class="icon ion-social-facebook"></i></a
            ><a href="#"><i class="icon ion-social-twitter"></i></a
            ><a href="#"><i class="icon ion-social-snapchat"></i></a
            ><a href="#"><i class="icon ion-social-instagram"></i></a>
          </div>
        </div>
        <p class="copyright">Low Key © 2018</p>
      </div>
    </footer>
  </div>
</footer>
