<!-- #navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <a href="home.html" Link class="logo">
    <img src="../images/logo.png" alt="Logo" class="imgLogo" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active nav-item-custom">
        <a class="nav-link" href="home" id="home">Home </a>
      </li>

      <li class="nav-item active nav-item-custom">
        <a class="nav-link" href="about" id="about">About </a>
      </li>

      <li class="nav-item active nav-item-custom">
        <a class="nav-link" href="products" id="product">Products</a>
      </li>

      <li class="nav-item active nav-item-custom">
        <a class="nav-link" href="contact" id="contact">Contact </a>
      </li>
      <li>
        <a href="shoppingcard" Link class="shoppingButton" id="shoppingcard">
          <img
            src="../images/shoppingcard.png"
            alt="shoppingcard icon"
            class="iconSize"
          />
        </a>
      </li>
      <li>
        <a href="profil.html" Link class="profilButton" id="profil">
          <img src="../images/user.png" alt="user icon" class="iconSize" />
        </a>
      </li>
      <li>
        <a href="/login" Link class="LoginStatus">
          <button type="button" class="buttonLogin btn btn-primary">
            Login
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- #end navbar -->
