<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hardware Webshop Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    <!-- put script here -->
    <script src=""></script>
  </head>
  <body>
    <!-- #nav-->
    <%- include('nav') %>
    <!-- #end nav -->
    <!-- Policy Section -->
    <section class="policy-section">
      <div class="container">
        <h3>Terms and Conditions</h3>
        <div class="underline"></div>
        <p>
          Welcome to LOW KEY! By using our website, you agree to the following
          terms: Product Purchase:
        </p>
        <div class="no-space"></div>
        <span><strong>1. Product Purchase:</strong></span>
        <p>
          Your purchase includes a license for personal or business use,
          securely processed through email request.
        </p>
        <span><strong>2. Intellectual Property:</strong></span>
        <p>
          All digital content on our site is the exclusive intellectual property
          of our webshop, and any unauthorized use is strictly prohibited.
        </p>
        <span><strong>3. Refunds:</strong></span>
        <p>
          Due to the nature of digital products, we do not offer refunds. Please
          ensure compatibility before making a purchase.
        </p>
        <span><strong>4. Privacy:</strong></span>
        <p>
          We are committed to safeguarding your privacy. Refer to our Privacy
          Policy for details on information handling.
        </p>
        <p>
          For further assistance or inquiries, contact us at
          <a href="mailto:info@hardwarewebshop.com">info@hardwarewebshop.com</a
          >.
        </p>
        <p>Thank you for choosing our hardware webshop!</p>
        <h3>Imprint</h3>
        <div class="underline"></div>
        <div class="no-space"></div>
        <p>Low Key</p>
        <p>Rua XXX, Madeira</p>
        <p>Portugal</p>
        <p>webside made by:</p>
      </div>
    </section>
    <!-- End Policy Section -->

    <!-- End Chatbot Icon -->
    <%- include('footer') %>
    <script src=""></script>
  </body>
</html>
