<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hardware Webshop profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../css/main.css"
    />
    <!-- put script here -->
    <script src=""></script>
  </head>
  <body>
    <!-- #nav-->
    <%- include('nav') %>
    <!-- #end nav -->
  </body>
  <!-- footer -->
  <!-- #backend info style at JS/profil.js -->
  <div id="user-info" ></div>
  <!-- #end backend info -->
   <!-- #footer -->
    <%- include('footer') %>
    <!-- #end footer -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="../JS/profil.js"></script>
  </footer>
  <!-- #end footer -->
</html>
